# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
*.class
*.lock
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# IDEs
.idea/
.vscode/
*.swp

# chaves de assinatura — nunca versionar
*.jks
*.keystore

# macOS
.DS_Store
**/.DS_Store
